body,
html {
  height: 100%;
  width: 100%;
  color: #333;
}

.header {
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 12px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 25px;
  color: #ffffff;
}

.header__title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.ranklist {
  max-width: 50vw;
  display: block;
  align-items: center;
  padding-top: 10px;
  font-family: 'Red Hat Display', sans-serif;
  margin: auto;
}
