@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.canvas {
    width: 0rem;
}

.profileBody {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    height: 1900px;
    /* overflow: hidden; */
}

.Container {
    width: 40rem;
    border-radius: 0.5rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.userNameContent {
    color: #CACACA;
    font-size: 30px;
}

.userName {
    font-size: 40px;
    color: #EAEAEA;
    margin-top: -1rem;
}

.changeCredsHeader {
    font-size: 40px;
    color: #EAEAEA;
    margin-bottom: 2rem;
    text-align: center;
}

.close {
    background-color: white;
}

.divider {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.body {
    background-color: #1c1c1c;
    color: white;
}

.profileContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.imageContainer {
    width: 6rem;
    height: 6rem;
    text-align: center;
}

.imageContainer img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.profileName {
    margin-top: 1rem;
}

.formContainer {
    margin: 2rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 100px;
}



.flagContainer {
    background-color: white;
    border-radius: 5px;
    height: 65px;
    color: black;
}
.flagContainer > button {
    position: relative;
    bottom: 5px;
} 

.flagContainer > ul {
    background-color: #232627;
    width: 580px;
}

.flagContainer > ul > div {
    background-color: #232627;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: space-around; 
}

.error {
    background: #ffdddd !important;
}

.correct {
    background: #c9ffad !important;
}

.normal {
    background: #ffffff00 !important;
}

.submitContainer {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 30px;
    border-radius: 3px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: #aaaaaa;
    border: 3px solid #AAAAAA;
    transition: all 0.4s ease;
}

.submitContainer:disabled {
    background-color: rgba(255, 255, 255, 0);
    color: #aaaaaa57;
    border: 3px solid #AAAAAA;

}

.submitContainer:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #AAAAAA;
}

.eyeContainer {
    display: flex;
    align-items: center;
    width: 104%;
}

.eye {
    color: #242a3c;
    position: relative;
    right: 34px;
}

.linkButton {
    text-decoration: none;
    color: #AAAAAA;
    font-size: 30px;
}

.linkButton:hover {
    color: white;
}

.linkButton:active {
    color: white !important;
}

.avatarContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #AAAAAA;
    border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar {
    height: 5px;
    border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar-track {
    background-color: lightblue;
    border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar-thumb {
    background-color: #232627;
    border-radius: 4px;
}

.avatar {
    min-width: 60px;
    height: 60px;
    text-align: center;
    background-color: #1a1a1ab2;
    border-radius: 5%;
    margin: 2px;
}

.avatar:hover {
    background-color: #AAAAAA;
    cursor: pointer;
}

.avatarSelected {
    background-color: #AAAAAA;
}

.avatarImg {
    width: 100%;
    height: 100%;
}

.inputField{
    border: 2px #AAAAAA solid !important;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
    border-radius: 1px;
    color: #AAAAAA;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.3s ease;
}

.inputField > button {
    color: #AAAAAA;
}

.inputField:focus {
    background-color: white !important;
}


.formContainer > div:nth-child(1) {
    height: 55rem;
}

.profileScrollBody {
    height: 100%;
    overflow-y: scroll;
    transition: all 0.5s ease;
}