* {
  margin: 0px;
  padding: 0px;
}

.mainContainer {
  min-height: 100%;
  background: rgba(30, 30, 30, 0.87);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signUpText,
.signInText{
  text-align: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #aaaaaa;
  padding: 10px;
  margin-top: 150px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 3.5fr 3fr 3.1fr;
  margin: 70px auto auto auto;
  width: auto;
}
.incompleteUserProfileContainer{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.externalAuthButtons {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 7rem;
  float: left;
  margin: 5px 0px 70px 0px;
  justify-content: center;
}

.separator {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 0.5rem;
}

.formContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin: auto;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 70px auto auto auto;
}

.verticalLine {
  align-self: center;
  border-left: 2px solid #4d4d4d;
  height: 90px;
}

.googleButton,
.githubButton {
  background-color: transparent;
  box-sizing: border-box;
  padding: 2px 60px 2px 60px;
  position: absolute;
  border: 3px solid #aaaaaa;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 53px;
  color: #aaaaaa;
}

.oauthButtonText {
  width: 100%;
}

.iconAlign {
  display: flex;
}

.line {
  flex: 1;
  border-left: 2px solid #aaaaaa;
  height: auto;
}

.loginText {
  flex: 15;
  text-align: start;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #aaaaaa;
  padding: 10px 3px 10px 25px;
}

.loginIcon {
  flex: 1;
  align-self: center;
  font-size: 1.7em;
  padding: 3px 15px 3px 0px;
  color: #aaaaaa;
}

.buttonIcon {
  flex: 1;
  align-self: center;
  font-size: 1.4em;
  padding: 3px 10px 3px 10px;
  color: #aaaaaa;
}

.loginButton {
  width: 100%;
  display: inline;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #aaaaaa;
  margin-top: 7px;
}

.loginCredentialsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.email,
.password {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border: 3px solid #aaaaaa;
  margin: auto;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #aaaaaa;
}

.email::-webkit-input-placeholder,
.password::-webkit-input-placeholder {
  font-family: FontAwesome, Roboto Mono;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.footerContainer {
  margin-top: 30px;
}

.subText {
  margin: auto;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #aaaaaa;
}

.resetPasswordContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  margin-top: 60px;
  justify-content: center;
}

.resetPasswordButton{
  width: fit-content;
    background-color: transparent;
    box-sizing: border-box;
    border: 3px solid #aaaaaa;
    align-self: flex-end;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #AAAAAA;
    padding: 10px 40px 10px 40px;
}

.forgotPassword {
  margin: auto;
  text-align: center;
  margin: 5px 2px 9px 2px;
  font-size: 17px;
  background-color: transparent;
  border: none;
  color: #aaaaaa;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  float: right;
}

.nextButton,
.signUpButton {
  display: inline;
  border: none;
  background-color: transparent;
  float: right;
  display: flex;
  color: #aaaaaa;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.previousButton {
  display: inline;
  border: none;
  background-color: transparent;
  float: left;
  display: flex;
  color: #aaaaaa;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    width: 100%;
    justify-content: center;
  }
  .cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.2rem;
    justify-content: center;
    margin-top: 10px;
  }

  .loginCredentialsContainer {
    gap: 1.5rem;
  }

  .email::-webkit-input-placeholder,
  .password::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
  }
  .externalAuthButtons {
    width: 80%;
    margin: auto;
    gap: 5rem;
    float: none;
  }
  .formContainer {
    width: 80%;
  }
  .registerContainer {
    margin-top: 10px;
  }
  .separator {
    display: none;
  }
  .githubButton,
  .googleButton {
    font-size: 16px;
    line-height: 25px;
    width: 80%;
    padding: 0.7rem 0rem;
  }
  .loginText {
    font-size: 18px;
    line-height: 25px;
  }
  .loginIcon {
    size: 1.2em;
  }
  .email,
  .password {
    font-size: 18px;
    line-height: 30px;
  }
  .forgotPassword {
    font-size: 14px;
  }

  .nextButton,
  .previousButton,
  .signUpButton {
    font-size: 18px;
    line-height: 30px;
  }

  .signUpText,
  .signInText {
    font-size: 25px;
    margin-top: 40px;
  }
  .buttonIcon,
  .loginIcon {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 600px) {
  .mainContainer {
    width: 100%;
    justify-content: center;
  }
  .cardContainer {
    width: 100%;
    padding: 10px;
    grid-template-columns: 2fr 1fr 2fr;
  }
  .externalAuthButtons {
    width: 100%;
    float: none;
    gap: 6rem;
    justify-content: center;
  }
  .formContainer {
    width: 100%;
    float: none;
  }
  .googleButton,
  .githubButton {
    font-size: 20px;
    width: 40%;
    line-height: 35px;
  }
  .subText {
    font-size: 20px;
  }
  .loginText {
    font-size: 20px;
  }
  .email,
  .password {
    font-size: 20px;
    line-height: 30px;
  }
  .forgotPassword {
    font-size: 18px;
    line-height: 30px;
  }
  .signInText,
  .signUpText {
    margin-top: 80px;
    font-size: 30px;
  }
}
