* {
  margin: 0px;
  padding: 0px;
}

.mainContainer{
  min-height: 100%;
  background: rgba(30, 30, 30, 0.87);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleContainer{
  text-align: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #AAAAAA;
  
}

.cardContainer{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin: auto; 
  width: auto;
}

.externalAuthButtons{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  float: left;
}

.separator{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 0.5rem;
}

.formContainer{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin: auto;
}

.registerContainer{
  display: flex;
  flex-direction: column;
  align-self: center;
}


.verticalLine{
  align-self: center;
  border-left: 2px solid #4D4D4D;
  height: 90px;
}


.googleButton,
.githubButton{
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
  position: absolute;
  border: 3px solid #AAAAAA;
  letter-spacing: 2px;
  margin: auto;
  text-align: center;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  color: #AAAAAA;
}

.iconAlign{
  display: flex;
}

.line{
  flex: 1;
  align-self: right;
  border-left: 2px solid #AAAAAA;
  align-self: stretch;
  height: auto;  
}

.loginText{
  flex: 15;
  text-align: start;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #AAAAAA;
  padding: 5px 3px 5px 18px;
}

.icon{
  flex: 1;
  align-self: center;
  padding: 1px 10px 1px 0px;
  size: 2em;
}

.loginButton{
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #AAAAAA;
  margin-top: 7px;
}

.loginCredentialsContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email,
.password{
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid #AAAAAA;
  margin: auto;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #EAEAEA;
}

.subText{
  margin: auto;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #AAAAAA;
}

.forgotPassword{
  margin: auto;
  text-align: center;
  margin: 5px 2px 9px 2px ;
  font-size: 17px;
  color: #AAAAAA;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  float: right;
}

.nextButton,
.signUpButton{
  border: none;
  align-self: flex-end;
  background-color: transparent;
  float: right;
  display: flex;
  font-family: 'Roboto Mono';
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  font-size: 19px;
  
}


.previousButton{
  background-color: transparent;
  margin-top: 10px;
  border: none;
  float: left;
  display: flex;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}

@media  only screen and (max-width: 600px) {
  .mainContainer{
    width: 100%;
    justify-content: center;
  }
  .cardContainer{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
  }
  .externalAuthButtons{width: 80%;
    margin: auto;
    gap: 4rem;
    float: none;
  }
  .formContainer{
    width: 80%;
  }
  .separator{
    display: none;
  }
  .githubButton,.googleButton{
    font-size: 18px;
    line-height: 30px;
    width: 80%;
} 
  .loginText{
    font-size: 18px;
}
  .email,.password{
    font-size: 18px;
    line-height: 30px;
}
  .forgotPassword{
    font-size: 14px;
}

.nextButton,
.previousButton{
  font-size: 20px;
  line-height: 30px;
}
  
}

@media only screen and (max-width: 1050px) and (min-width: 600px){
  .mainContainer{
    width: 100%;
    justify-content: center;
  }
  .cardContainer{
    width: 100%;
    padding:10px;
    grid-template-columns: 2fr 1fr 2fr;
  }
  .externalAuthButtons{
    width: 100%;
    float: none;
    gap: 8rem;
    justify-content: start;
  }
  .formContainer{
    width: 100%;
    float: none;
  }
  .googleButton,.githubButton{
    font-size: 20px;
    width: 40%;
    line-height: 35px;
  }
  .subText{
    font-size: 20px;
  }
  .loginText{
    font-size: 20px;
  }
  .email,.password{
    font-size: 20px;
    line-height: 30px;
  }
  .forgotPassword{
    font-size: 18px;
    line-height: 30px;
  }
}
