* {
  margin: 0px;
  padding: 0px;
}

.mainContainer{
  min-height: 100%;
  background-color: #242a3c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  gap: 3rem;
}

.titleContainer{
  text-align: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #AAAAAA;
}

.cardContainer{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin: auto; 
  width: auto;
}
.externalAuthButtons{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  float: left;
}

.separator{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 0.5rem;
}

.formContainer{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin: auto;
}

.registerContainer{
  display: flex;
  flex-direction: column;
  align-self: center;
}


.verticalLine{
  align-self: center;
  border-left: 2px solid #868484;
  height: 90px;
}

.googleButton,
.githubButton{
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
  position: absolute;
  border: 3px solid #AAAAAA;
  letter-spacing: 2px;
  margin: auto;
  text-align: center;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  color: #EAEAEA;
}

.iconAlign{
  display: flex;
}

.login{
  flex: 7;
  text-align: start;
}

.icon{
  flex: 1;
  align-self: center;
}

.loginButton{
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #AAAAAA;
  text-align: center;
  font-family: "Roboto Mono";
  font-style: normal;
  padding: 5px 3px 5px 10px;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #EAEAEA;
  margin-top: 7px;
  
}
.loginCredentialsContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email,
.password{
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid #AAAAAA;
  margin: auto;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #EAEAEA;
}

.subText{
  margin: auto;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 20px;
  color: #AAAAAA;
}

.forgotPassword{
  margin: auto;
  text-align: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  margin: 5px 2px 9px 2px ;
  font-size: 17px;
  color: #a7a4a4;
  float: right;
}

.nextButton,
.signUpButton{
  border: none;
  align-self: flex-end;
  background-color: transparent;
  float: right;
  display: flex;
  font-family: 'Roboto Mono';
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  font-size: 19px;
  
}


.previousButton{
  background-color: transparent;
  margin-top: 10px;
  border: none;
  float: left;
  display: flex;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}

