.modalContainer {
  background-color: #1e1e1e;
  border: none;
}

.headerText{
  font-family: 'Poppins';
  font-size: 28px;
  color:#aaaaaa;
  font-weight: bold;
}

.email {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #aaaaaa;
  border: 2px solid #aaaaaa;
}

.email::placeholder {
  font-family: FontAwesome, Roboto Mono;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.submitButton {
    height: 5vh;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    background-color: inherit;
    padding: 2px 30px 2px 30px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    font-family: 'Poppins';
    margin-top: 10px;
}


.modalHeader {
  background-color: #232627;
  backdrop-filter: blur(100px);
  height: 9vh;
  border: 0px;
}
