.modalContainer {
  background-color: #232627;
  border: none;
}

.email {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #aaaaaa;
  border: 2px solid #aaaaaa;
}

.email::-webkit-input-placeholder {
  font-family: FontAwesome, Roboto Mono;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.submitButton {
  background-color: transparent;
  box-sizing: border-box;
  padding: 2px 30px 2px 30px;
  border: 3px solid #aaaaaa;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 53px;
  float: right;
}

.modalHeader {
  background-color: #232627;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 1px;
  font-size: 20px;
  color: #aaaaaa;
}
