@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

.modalContainer {
  background-color: #242a3c;
  color: #AAAAAA;
  font-family: Montserrat;
  margin: -1px;
  font-size: 20px;
}

.email{
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border: 3px solid #AAAAAA;
  margin: auto;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #AAAAAA;
}

.submitButton{
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #AAAAAA;
  padding: 10px;
}

.modalHeader {
  background-color: #242a3c;
  color: #AAAAAA;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 1px;
  font-size: 20px;
}
