@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,900&display=swap');

body,
html {
  height: 100%;
  width: 100%;
  color: #333;
}

.header {
  max-width: 1000px;
  margin: 25px auto;
  border-radius: 12px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 25px;
  color: #e8ecfd;
}

.header__icon {
  max-width: 50px;
  height: auto;
  opacity: 0.7;
}

.header__title {
  font-family: 'Roboto Mono', monospace;
  font-size: 48px;
  text-align: center;
  letter-spacing: 4.5px;
}

.ranklist {
  max-width: 75vw;
  display: block;
  align-items: center;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.list {
  margin: 0 auto;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 15px;
  border-spacing: 0px 20px;
  border-collapse: separate;
}

.item {
  border: 1px;
  border-style: solid none;
  border-radius: 5px;
  margin: 8px;
}

.tier3 {
  background: brown !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tier2 {
  background: silver !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tier1 {
  background: gold !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tier0 {
  background: white !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.currentUserItem {
  background: #204743;
  border-radius: 5px;
  margin: 5px;
  border: none;
}

.tierheader {
  width: 50px;
}

.list .item .pos {
  text-align: center;
  color: #aaaaaa;
  font-size: x-large;
  border: none;
  padding: 15px 30px;
}

.list .item .pic {
  width: 2rem;
  height: 2rem;
  align-items: center;
  border-radius: 50%;
  border: none;
}

.list .item .name {
  flex-basis: 6rem;
  font-size: x-large;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Roboto', monospace;
  overflow: hidden;
  color: #aaaaaa;
  margin-right: 5px;
  border: none;
  padding: 15px 30px;
}

.list .item .score {
  font-family: 'Bai Jamjuree', monospace;
  color: #aaaaaa;
  background-color: transparent;
  font-size: x-large;
  margin-right: 1.5rem;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
}

.list .item .score:after {
  margin-right: 1rem;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  padding: 15px;
}

.list .item .score:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.list .item .pos:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.list .tableHeader {
  font-family: 'Roboto Condensed', monospace;
  font-size: x-large;
  color: #aaaaaa;
  font-weight: 100;
  background: transparent;
  margin-right: 1.5rem;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.attackButton {
  background-color: transparent;
  padding: 15px 30px;
  transition: 0.3s;
}

.attackButton:hover {
  transform: scale(1.5);
}

.attackImg {
  max-height: 100%;
  max-width: 100%;

}

.paginationouter {
  display: flex;
  text-align: center;
  flex: 1;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination {
  font-family: monospace, sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-flex;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.matchHeader {
  background: #2b3760;
  color: #ffffff;
  height: 10vh;
  border: 0px;
}

.matchHeader button {
  background-color: #aaaaaa;
}

.matchBody {
  background-color: #1c1c1c;
  color: #ffffff;
}

.matchFooter {
  background-color: #1c1c1c;
  border: none;
}

.matchButton {
  background: #2b3760;
}

.button {
  color: #aaaaaa;
  margin: 0px 8px;
  border: 1px;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 8px;
  font-family: monospace, sans-serif;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: normal;
}

.button:hover {
  background-color: #aaaaaa;
  color: #0a1c2a;
}

.menu {
  background: #aaaaaa;
  color: black;
}

.dropdown-toggle {
  color: #aaaaaa;
  background-color: #ffffff;
}
