.mainContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.leftPane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbar {
    justify-content: space-between;
    position: relative;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px;
    height: 45px;
}

.midDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.settingsIconDiv {
    transform: scale(1.22);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    position: absolute;
    border-radius: 0;
    width: 20px;
    right: 60px;
    margin: 5px 0px;
    color: #cbcbcb;
}

.toolbarColumn {
    padding: 0px;
}

.toolbarColumn1 {
    /* position: relative; */
    background-color: transparent;
}

.toolbarColumn>button {
    background-color: transparent;
}

.toolbarColumn1>button {
    background-color: transparent;
}

.toolbarColumn1>button:focus {
    outline: none;
    box-shadow: none;
}

.toolbarButton {
    /* width: 100%; */
    transform: scale(1.2);
    height: 100%;
    max-width: 4rem;
    min-width: 2rem;
    border: 0;
    border-radius: 0;
    outline: none;
    margin: 2px 10px 0;
    color: #cbcbcb;
}

.toolbarButton:hover {
    color: #ffffff;
    transform: scale(1.3);
}

.toolbarButton:hover span {
    background-color: #1a1919;
}

.toolbarButton1 {
    font-size: 0.9rem;
    width: 5.83rem;
    height: 100%;
    border: 0;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 0.5rem;
    outline: none;
    background-color: #292929;
    color: #ffffff;
}

.toolbarButton1:focus {
    font-size: 0.9rem;
    outline: none;
    box-shadow: none;
}

.toolbarButton2 {
    font-size: 0.9rem;
    width: fit-content;
    height: 100%;
    border: 0;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 0.5rem;
    outline: none;
    background-color: #292929;
    color: #ffffff;
}

.toolbarButton2:focus {
    font-size: 0.9rem;
    outline: none;
    box-shadow: none;
}

.settingDropdown {
    margin-top: 5 px;
}

.dcToolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: #363535;
    padding: 2px 2px;
    max-height: 6vh;
}

.infoIcon {
    margin-top: 6px;
    transform: scale(1.05);
    width: 5.83rem;
    padding-left: 4rem;
}

.challName {
    margin-left: 10px;
    font-size: 0.8rem;
    background-color: transparent;
    color: #cbcbcb;
    overflow-x: clip;
}

.mapChallName {
    width: 100%;
    height: 4.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px;
    color: #ffffff;
    overflow-x: auto;
    overflow-y: auto;
}

.mapChallName::-webkit-scrollbar {
    display: none;
}

.dcMap {
    height: 94vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dcMap>img {
    object-fit: contain;
}


.closeEditorButton {
    position: absolute;
    border-radius: 0;
    width: 20px;
    right: 0;
    margin: 5px 0px;
    padding: 5px 0px;
    z-index: 2;
}

.closeRendererButton {
    position: absolute;
    border-radius: 0;
    width: 20px;
    right: -20px;
    margin: 5px 0px;
    padding: 5px 0px;
    z-index: 1;
}

.editorContainer {
    height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
}

.editorContainer>span {
    height: 100%;
}

.editorContainer::-webkit-scrollbar {
    width: 5px;
    background: inherit;
}

.editorContainer::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.644) !important;
    border-radius: 10px !important;
}

.rightPane {
    position: relative;
    background-color: #1a1919;
    width: 100%;
    height: 100%;
}

.popOverHeader {
    background-color: #2b3760;
    color: #ffffff;
}

.popOverBody {
    background-color: #1c1c1c;
    color: #ffffff;
}

.settingsIcon {
    margin-top: 6px;
    transform: scale(1.05);
}

.hoverIcon:hover {
    cursor: pointer;
    color: #ffffff;
    transform: scale(1.15);
}
