.vertical-timeline-element--work,
.vertical-timeline-element {
  width: 90%;
  padding: 0%;
}

.vertical-timeline::before {
  background: transparent;
}

.vertical-timeline-element:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 67px;
  left: 18px;
  height: calc(148%) !important;
  width: 4px;
  background: white;
}

.vertical-timeline-element-icon{
  top: 70px;
  left: 10px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 4px #444444;
  transform: scale(1.3);
}


.vertical-timeline-element-date {
  font-size: 1.4rem !important;
  font-family: 'Bai Jamjuree' ;
}

.vertical-timeline-element-content {
  box-shadow: 0 0 0;
  padding: 0%;
  padding-left: 1rem;
  border-radius: 0%;
  border-radius: 10px;
  width: 92%; 
  max-width: 350px;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
}

.vertical-timeline-element-content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.vertical-timeline-element--work:hover {
  cursor: pointer;
}

.vertical-timeline-element-content-arrow{
  display: none;
}

.vertical-timeline-element-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1rem;
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: auto;
  height: 70px;
  margin-bottom: 0rem;
  max-width: 250px;
  padding-left: 0 !important;
  margin-top: 0.5rem;
}

.vertical-timeline-element-title::-webkit-scrollbar {
  display: none;
}

.noCommitStyle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

.vertical-timeline{
  padding-top: 0px;
}

@media only screen and (width < 1200px) {
  .vertical-timeline-element:not(:last-child)::before{
    height: calc(138%);
  }
}

