.mainContainer {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron > div {
  font-size: 64px;
  color: white;
  font-weight: bold;
}

.delta {
  display: flex;

}

.delta > div {
  margin: auto;
  color: antiquewhite;
}

.delta > div > a{
  color: antiquewhite;
  text-decoration: none;
}

.heart {
  color: #aaaaaa;
}
.arrowContainer{
  position: relative;
  top: 30%;
}
.arrow{
  justify-content: end;
  transition-duration: 0.5s;
}

.arrow:hover{
  transform: scale(1.5);
}

@media screen and (max-width: 1000px) {
  .jumbotron > div {
    font-size: 2px;
  }
  .arrowContainer{
    top: 20%;
  }
}
