.mainContainer {
  max-width: 100%;
  overflow-x: hidden;
  /* background-image: url('/public/assets/Landing.png'); */
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 52px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('/public/assets/Landing.png'); */

  /* background: url('../../assets/bytehoc_final.webp');
  background-size: cover; */
}

.jumbotron > div {
  font-size: 64px;
  color: white;
  font-weight: bold;
}

.delta {
  display: flex;
  background-color: #eee;
}

.delta > div {
  margin: auto;
}

.heart {
  color: red;
}

.arrow{
  position: absolute;
  bottom: 8%;
  transition-duration: 0.5s;
}

.arrow:hover{
  transform: scale(1.5);
}

@media screen and (max-width: 1000px) {
  .jumbotron > div {
    font-size: 25px;
  }
}
