.mainContainer {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron > div {
  font-size: 64px;
  color: white;
  font-weight: bold;
}

.delta {
  display: flex;
  background-color: rgba(30, 30, 30, 0.87);

}

.delta > div {
  margin: auto;
  color: antiquewhite;
}

.delta > div > a{
  color: antiquewhite;
  text-decoration: none;
}

.heart {
  color: #aaaaaa;
}

.arrow{
  position: absolute;
  bottom: 8%;
  transition-duration: 0.5s;
}

.arrow:hover{
  transform: scale(1.5);
}

@media screen and (max-width: 1000px) {
  .jumbotron > div {
    font-size: 2px;
  }
}
