.footerContainer {
  background-color:#1e1e1e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 100px 50px 100px;
}

.footerContainer > div {
  align-self: baseline;
}

.heading {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
  color: #eaeaea !important;
  font-family: 'Poppins';
}

.textContainer{
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.container .links{
  text-decoration: none;
  color: #aaaaaa;
}

.container .links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.credit{
  display: flex;
  flex-direction: column;
}

.title{
  font-family: 'Roboto Mono';
  font-size: 800;
  font-size: 35px;
  font-style: bold;
  text-decoration: none;
  color: #ffffff;
}

.title:hover{
  cursor: pointer;
  color:rgb(20, 94, 42);
}
.creditText{
  font-family: sans-serif;
  color: #aaaaaa;
  font-size: 16px;
  float: left;
  vertical-align: baseline;
}

.container > div{
  font-family: sans-serif;
  margin: 10px;
  color: #aaaaaa;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 900px) {

  .footerContainer{
    padding: 10px 40px 10px 40px;
  }
 
}

@media screen and (max-width: 700px) {

  .footerContainer{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 1rem;
  }

 .credit{
    padding: 10px;
  }

  .textContainer{
    display: flex;      
    flex-direction: column-reverse;
  }

  .title{
    font-size: 30px;
  }

  .title:hover{
    color: #ffffff;
  }

  .heading{
    font-size: 20px;
  }

}
