.footerContainer {
  background-color:#1e1e1e;
  color: white;
  display: grid;
  grid-template-columns: 9fr 4fr 3fr;
  padding: 30px 100px 30px 100px;
}

.footerContainer > div {
  align-self: baseline;
}

.heading {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
  color: #eaeaea !important;
  font-family: 'Poppins';
}


.container .links{
  text-decoration: none;
  color: #aaaaaa;
}

.container .links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.credit{
  display: flex;
  flex-direction: column;
}

.title{
  font-family: 'Roboto Mono';
  font-size: 800;
  font-size: 35px;
  font-style: bold;
  text-decoration: none;
  color: #ffffff;
}

.title:hover{
  cursor: pointer;
  color:rgb(20, 94, 42);
}
.creditText{
  font-family: sans-serif;
  color: #aaaaaa;
  font-size: 16px;
  float: left;
  vertical-align: baseline;
}

.container > div{
  font-family: sans-serif;
  margin: 10px;
  color: #aaaaaa;
  letter-spacing: 1.5px;
}
