.settingFormGroup {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.editorSettingsHeader {
  background-color: #232627;
  backdrop-filter: blur(100px);
  color:#aaaaaa;
  font-family: 'Poppins';
  font-size: 18px;
  height: 9vh;
  border: 0px;
}


.editorSettingsBody {
  background-color: #1e1e1e;
  border: 0px;
  padding: 7px 0px;
  margin: 0;
}

.settingLabel {
  color:#aaaaaa;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  height: 3vh;
  margin-bottom: 1.5vh;
}

.settingDropdown {
  color:#aaaaaa;
  font-family: 'Poppins';
  font-size: 18px;
  width: 100%;
  height: 5.5vh;
  margin-bottom: 2.8vh;
  padding-left: 1%;
  background: none;
}

.settingDropdown:hover,
.settingDropdown:focus {
  border: 1.5px solid white;
}

.optionsDropdown {
  background: #1c1c1c;
}
