.settingFormGroup {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.editorSettingsHeader {
  background-color: #232627;
  backdrop-filter: blur(100px);
  height: 9vh;
  border: 0px;
}

.headerText{
  font-family: 'Poppins';
  font-size: 28px;
  color:#aaaaaa;
  font-weight: bold;
}

.autocompletediv{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
}

.autocompletebtn{
  padding-top: 2px;
  padding-left: 15px;
}

.autocompleteLabel{
  color:#aaaaaa;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  height: 3vh;
  margin-bottom: 1.5vh;
  padding-top: 0.2rem;
}

.toggle {
  width: 55px;
  height: 28px;
  border-radius: 25px;
  background-color: gray;
  position: relative;
  cursor: pointer;
}

.toggleHandle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 3.5px;
  left: 2.5px;
  transition: all 0.3s ease-in-out;
}

.on {
  background-color: #232627;

}

.on .toggleHandle {
  transform: translateX(25px);
}

.off .toggleHandle {
  transform: translateX(0);
}

.editorSettingsBody {
  background-color: #1e1e1e;
  border: 0px;
  padding: 7px 0px;
  margin: 0;
}

.settingLabel {
  color:#aaaaaa;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1.5vh;
}

.settingDropdown {
  color:#aaaaaa;
  font-family: 'Poppins';
  font-size: 18px;
  width: 100%;
  height: 5.5vh;
  margin-bottom: 2.8vh;
  padding-left: 1%;
  background: none;
}

.settingDropdown:hover,
.settingDropdown:focus {
  border: 1.5px solid white;
}

.optionsDropdown {
  background: #1c1c1c;
}
