.barChartToolTip {
    background-color: #1a1a1aca;
    backdrop-filter: blur(4rem);
    color: white;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 900;
    padding: 10px 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
