.tourIntroHeader {
    background-color: #232627;
    backdrop-filter: blur(100px);
    height: 9vh;
    border: 0px;
}

.headerText{
    font-family: 'Poppins';
    font-size: 28px;
    color:#aaaaaa;
    font-weight: bold;
  }


.tourIntroBody {
    background: #1e1e1e;
    border: 0px;
    padding: 1rem;
    margin: 0;
}

.tourIntroText {
    font-family: 'Poppins';
    color: #aaaaaa;
    font-size: 18px;
    padding-bottom: 0.5rem;
}

.skipBtn,
.showBtn{
    width: auto;
    height: 5vh;
    display: block;
    margin-top: 5px;
    padding: 5px 20px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #aaaaaa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: transparent;
}

.skipBtn{
    padding-left: 30px;
    padding-right: 30px;
}





