.about {
  height: 100vh;
  align-items: center;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px 0px 50px 0px;
}

.descriptionContainer > div :nth-child(2) > div {
  margin-bottom: 10px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #eaeaea;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 32px;
}

.col1 {
  display: flex;
  align-items: center;
  border-right: 3px solid #4d4d4d;
  min-width: 300px;
  padding-right: 3%;
}

.col2 {
  display: flex;
  align-items: center;
  padding-left: 3%;
  min-width: 300px;
}

.aboutImage {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.aboutImage > img {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

@media only screen and (max-width: 1400px) {
  .content {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    font-size: 30px;
  }
}

@media only screen and (max-width: 770px) {
  .content {
    font-size: 25px;
  }
  .col1 {
    border-bottom: 3px solid #4d4d4d;
    border-right: 0px;
    padding-bottom: 8%;
  }
  .col2 {
    padding-top: 8%;
  }
  .about {
    padding: 0;
  }
  .content {
    font-size: 1.4rem;
  }
}

@media only screen and (max-height: 800px) {
  .content {
    font-size: 20px;
  }
  .about {
    margin-top: 16px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px 0px 50px 0px;
  }
}
