

.about {
  padding-top: 50px;
  padding-bottom: 20px;
  height: 100vh;
  align-items: center;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.descriptionContainer > div :nth-child(2) > div {
  margin-bottom: 10px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 35px;
}

.col1{
  display: flex;
  align-items: center;
  border-right: 3px solid #4D4D4D;
}

@media only screen and (max-width : 1400px) {
  .content{
    font-size: 31px;
  }
}

@media only screen and (max-width : 1200px) {
  .content{
    font-size: 29px;
  }
}

@media only screen and (max-width : 990px) {
  .content{
    font-size: 23px;
  }
}

@media only screen and (max-width : 990px) {
  .content{
    font-size: 20px;
  }
}

@media only screen and (max-width : 750px) {
  .content{
    font-size: 17px;
  }
}

@media only screen and (max-width : 600px) {
  .content{
    font-size: 12px;
  }
}