.formContainer {
  max-width: 500px;
  justify-content: center;
  gap: 1.5rem;
}

.avatarHeader {
  margin: auto;
  text-align: center;
  margin: 5px 2px;
  font-size: 17px;
  background-color: transparent;
  border: none;
  color: #aaaaaa;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  float: left;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
  overflow-x: scroll;
  background-color: transparent;
  border: 2px solid #aaaaaa;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
}

.avatarContainer::-webkit-scrollbar-track {
  height: 5px;
  background-color: transparent;
}

.termsContainer {
  background-color: transparent;
  border: 2px solid #aaaaaa;
  width: 100%;
  max-width: 400px;
  color: #aaaaaa;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  text-align: center;
}

.termsContainer > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.avatarContainer::-webkit-scrollbar {
  height: 5px;
}

.avatarContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.avatarContainer::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 10px;
}

.avatar {
  min-width: 60px;
  height: 60px;
  text-align: center;
  background-color: transparent;
  margin: 5px;
  border-radius: 15%;
}

.avatar:hover {
  background-color: #aaaaaa;
  cursor: pointer;
}

.avatarSelected {
  background-color: #aaaaaa;
}

.avatarImg {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .formContainer {
    width: auto;
    height: fit-content;
  }
}
