@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.flagContainer {
  color: black;
  background-color: transparent;
  border: 3px solid #AAAAAA;
}

.password,
.email,
.name,
.confirmPassword,
.username,
.collegeName{
  width: auto;
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
  border: 3px solid #AAAAAA;
  margin: auto;
  font-family: 'Roboto-Mono';
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 45px;
  color: #AAAAAA;
}

input::placeholder{
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.grecaptcha-badge {
  visibility: hidden;
}

@media only screen and (max-width: 500px){
  .formContainer{
    width: 100%;
  }
  .password,
  .email,
  .name,
  .username,
  .collegeName,
  .confirmPassword{
    font-size: 18px;
    line-height: 30px;
  }

  input::placeholder{
    font-size: 18px;
  }
}
