.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.flagContainer {
  background-color: transparent;
  height: 62px;
  color: #aaaaaa;
  border: 3px #aaaaaa solid !important;
  border-radius: 1px;
  font-size: 25px;
}
.flagContainer > button {
  position: relative;
  bottom: 5px;
} 
.selectedText{
  color: #aaaaaa !important;
}

.flagContainer > ul {
  background-color: #232627;
}

.flagContainer > ul > div {
  background-color: #232627;
}


.password,
.email,
.name,
.confirmPassword,
.username,
.collegeName {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 25px 10px 25px;
  border: 3px solid #aaaaaa;
  margin: auto;
  font-family: 'Roboto Mono';
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #aaaaaa;
}

.email::placeholder,
.password::placeholder,
.name::placeholder,
.confirmPassword::placeholder,
.username::placeholder,
.collegeName::placeholder {
  font-family: FontAwesome, Roboto Mono;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 500px) {
  .formContainer {
    width: 100%;
  }
  .password,
  .email,
  .name,
  .username,
  .collegeName,
  .confirmPassword {
    font-size: 20px;
    line-height: 30px;
  }

  .email::placeholder,
  .password::placeholder,
  .name::placeholder,
  .confirmPassword::placeholder,
  .username::placeholder,
  .collegeName::placeholder {
    font-size: 17px;
    line-height: 30px;
  }
}
