@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import "//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.flagContainer {
  color: black;
  background-color: transparent;
  border: 3px solid #AAAAAA;
}

.password,
.email,
.name,
.confirmPassword,
.username,
.collegeName{
  width: auto;
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
  border: 3px solid #AAAAAA;
  margin: auto;
  font-family: 'Roboto-Mono';
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  color: #AAAAAA;
}

.email::-webkit-input-placeholder,
.password::-webkit-input-placeholder,
.name::-webkit-input-placeholder,
.confirmPassword::-webkit-input-placeholder,
.username::-webkit-input-placeholder,
.collegeName::-webkit-input-placeholder{
  font-family: FontAwesome,Roboto Mono;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.5px;
}


@media only screen and (max-width: 500px){
  .formContainer{
    width: 100%;
  }
  .password,
  .email,
  .name,
  .username,
  .collegeName,
  .confirmPassword{
    font-size: 20px;
    line-height: 30px;
  }

  .email::-webkit-input-placeholder,
  .password::-webkit-input-placeholder,
  .name::-webkit-input-placeholder,
  .confirmPassword::-webkit-input-placeholder,
  .username::-webkit-input-placeholder,
  .collegeName::-webkit-input-placeholder{
    font-size: 17px;
    line-height: 30px;
  }
 
}
