

.editorInfoHeader {
    background: #3e918e;
    color: white;
    height: 10vh;
    border: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editorInfoHeader button {
    background-color: white;
}

.editorInfoBody {
    background: #1c1c1c;
    border: 0px;
    padding: 7px 0px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.commitModalInput{
    width: 80%;
    height: 5vh;
    margin: 1.75rem auto 5px;
}

.commitModalbtn{
    background-color: rgb(24, 188, 95);
    width: 30%;
    margin: 1.5rem auto;
    background: #4595CF;
    height: 4.5vh;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    border: none;
}
