.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #232627;
  width: 100%;
  z-index: 1000;
}

.navBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.8rem;
}

.navContainer {
  display: flex;
}

.navLink {
  font-family: 'Montserrat';
  margin: auto 80px;
  text-decoration: none;
  display: flex;
  color: white;
  align-items: center;
  font-size: 28px;
  gap: 0.9rem;
  font-weight: 500;
}

.navLink > img {
  height: 1.6rem;
}

.navLink:hover {
  color: white;
}

.profileLink {
  text-decoration: none;
  color: inherit;
}

.navLogo {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 33px;
  margin: 0.5rem 1rem;
}

.logoLink {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.branding {
  position: relative;
}

.profileIcons {
  color: #9c9c9c;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ProfileIcon {
  height: auto;
  border-radius: 50%;
  margin-left: 0.6rem;
}

.profileIconImg {
  height: 2rem;
  width: auto;
}

.profileName {
  font-family: 'Montserrat';
  color: #ffffff;
  margin: 0 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  align-self: center;
}

.notifIcon {
  margin: auto;
  position: relative;
  margin-right: 0.6rem;
}
