.dcmodal{
    background-color: #1e1e1e;
    box-shadow: 0px 3px 6px 4px rgb(28 32 33 / 20%);
    color: #aaaaaa;
    font-family: 'Poppins';
    font-weight: 400;
  }

.dcmodal > *{
    border: 0;
}

.dcmodalHeader{
    background-color: #232627;
    backdrop-filter: blur(100px);
    color: #aaaaaa;
    font-family: 'Poppins';
    font-size: 18px;
    height: 9vh;
    border: 0px;
}

.dcmodalBtn{
    width: auto;
    height: 5vh;
    display: block;
    border: 2px solid #aaaaaa;
    margin-top: 15px;
    padding: 2px 30px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #aaaaaa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: transparent;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 7rem;
}

.dcmodalBtn:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
  }
