.InfoGroup {
  margin: 7px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: #aaaaaa;
}

.editorInfoHeader {
  background-color: #232627;
  backdrop-filter: blur(100px);
  border: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 9vh;
}
.content{
  background-color: transparent;
}

.headerText{
  font-family: 'Poppins';
  font-size: 28px;
  color:#aaaaaa;
  font-weight: bold;
}

.editorInfoBody {
  font-family: 'Poppins';
  color: #aaaaaa;
  background-color: #1e1e1e;
  border: 0px;
  padding: 7px 0px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.settingLabel {
  font-family: 'Poppins';
  font-size: 18px;
  color: #aaaaaa;
  height: 3vh;
  margin-bottom: 1.5vh;
}

.bodyInfo {
  margin-top: -6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 1;
}

.infoList1 {
  background-color: transparent;
}

.infoDiv {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 30px;
  font-size: 18px;
  align-items: center;
}

.dcDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  font-family: 'Bai Jamjuree';
  font-size: 2rem;
  color: #ffffff;
}

