@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap');

body,
html {
  height: 100%;
  width: 100%;
  background: rgba(30, 30, 30, 0.87);
  color: #333;
}

.header {
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 12px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 25px;
  color: #e8ecfd;
}

.header__icon {
  max-width: 50px;
  height: auto;
  opacity: 0.7;
}

.header__title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.ranklist {
  max-width: 1000px;
  display: block;
  align-items: center;
  padding-top: 10px;
  font-family: 'Red Hat Display', sans-serif;
  margin: auto;
}

.list {
  margin: 0 auto;
  background: transparent;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1),
    0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
  border: none;
  border-spacing: 0px 15px;
  border-collapse: separate;
}

.item {
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.87);
  max-width: 900px !important;
}

.list .item .pic {
  width: 2rem;
  height: 2rem;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2),
    0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
  border: none;
}

.list .item .watchButton {
  transform: scale(0.8);
}

.list .item .watchButton:hover {
  transform: scale(1);
}

.battlecardwin {
  outline: thin solid #00bc62;
  box-shadow: 0 3px #ffe600;
}

.battlecardlose {
  outline: thin solid #bc1700;
}

.battlecardtie {
  outline: thin solid #ffe600;
  max-width: 900px !important;
}

.list .item .name {
  flex-basis: 6rem;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  margin-right: 5px;
  border: none;
}

.list .item .score {
  font-family: monospace;
  color: white;
  background-color: transparent;
  margin-right: 1.5rem;
  border: none;
}

.list .item .score:after {
  margin-right: 1rem;
  opacity: 0.8;
  background-color: transparent;
  border: none;
}

.list .item .score:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.list .item .score:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.list .tableHeader {
  font-family: monospace;
  color: white;
  background: transparent;
  letter-spacing: 5px;
  margin-right: 1.5rem;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
}

.paginationouter {
  text-align: center;
}

.pagination {
  font-family: monospace, sans-serif;
  display: inline-flex;
  position: relative;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.87);
  border-radius: 10px;
  text-decoration: solid;
}

.pagination .pageNum {
  border-radius: 8px;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  text-decoration: none !important;
  margin: 5px;
}

.pagination .pageNum:hover {
  background-color: white;
  color: rgba(30, 30, 30, 0.87);
  border: 1px;
}

.pagination .break {
  background-color: black;
}

.pagination .active {
  background-color: white;
  color: #0a1c2a;
  border: 1px;
}

.button {
  background-color: white;
  color: #0a1c2a;
  border: 1px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 8px;
  font-family: monospace, sans-serif;
}
