.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  max-width: 1000px;
  margin: 25px auto;
  border-radius: 12px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 25px;
  color: #e8ecfd;
}

.header__icon {
  max-width: 50px;
  height: auto;
  opacity: 0.7;
}

.header__title {
  font-family: 'Roboto Mono', monospace;
  font-size: 48px;
  text-align: center;
  letter-spacing: 4.5px;
}

.message {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
  color: #aaaaaa;
  margin-top: 30px;
}

.ranklist {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.list {
  margin: 0 auto;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 15px;
  border-spacing: 0px 20px;
  border-collapse: separate;
}

.item {
  width: 90%;
  display: inline-flex;
  flex-direction: row;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  align-items: center;
  overflow-x: auto;
  justify-content: space-around;
  margin-bottom: 0.4rem;
}

.automatch {
  background-color: antiquewhite;
}

.item .picholder {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.item .pic {
  max-width: 40px;
  height: auto;
}

.item .watchButton {
  display: inline-block;
  transform: scale(0.8);
  transition: 0.3s;
  width: 100%;
}

.item .watchButton:hover {
  transform: scale(1);
  cursor: pointer;
}

.item .battlecardwin {
  outline: thin solid #026837;
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(5px);
}

.item .battlecardlose {
  outline: thin solid #bc1700;
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(5px);
}

.item .battlecardtie {
  outline: thin solid #ffe600;
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(5px);
}

.item .name {
  font-size: x-large;
  font-family: 'Roboto', monospace;
  overflow-x: auto;
  white-space: nowrap;
  color: #aaaaaa;
  width: 150px;
  border: none;
  padding: 10px 1vw 10px 1vw;
}

.item .username {
  display: inline-flex;
  vertical-align: middle;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.item .scoreleft {
  font-family: 'Bai Jamjuree', monospace;
  color: #aaaaaa;
  background-color: transparent;
  font-size: x-large;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.item .scoreright {
  font-family: 'Bai Jamjuree', monospace;
  color: #aaaaaa;
  background-color: transparent;
  font-size: x-large;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.item .coinsusedright {
  font-family: 'Bai Jamjuree', monospace;
  color: #aaaaaa;
  background-color: transparent;
  font-size: x-large;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.item .coinsusedleft {
  font-family: 'Bai Jamjuree', monospace;
  color: #aaaaaa;
  background-color: transparent;
  font-size: x-large;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.item .score:after {
  opacity: 0.8;
  background-color: transparent;
  border: none;
  padding: 10px 30px;
}

.item .score:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.item .score:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.tableheader {
  font-family: 'Roboto Condensed', monospace;
  font-size: x-large;
  color: #aaaaaa;
  font-weight: 100;
  background: transparent;
  opacity: 1;
  border: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.tableheaderdiv {
  width: 80%;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 10px;
  margin-bottom: 1.8rem;
}

.paginationouter {
  text-align: center;
}

.pagination {
  font-family: monospace, sans-serif;
  display: inline-flex;
  position: relative;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: solid;
  list-style: none;
}

.pagination .pageNum {
  border: #eaeaea thin solid;
  color: #eaeaea;
  margin: 0px 8px;
  background-color: transparent;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 8px;
  font-family: monospace, sans-serif;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: normal;
  text-decoration: none;
}

.pagination .pageNum:hover {
  background-color: #aaaaaa;
  color: black;
}

.pagination .break {
  background-color: black;
}

.pagination .active {
  background-color: #aaaaaa;
  color: #0a1c2a;
  border: 1px;
}

::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}
.button {
  background-color: transparent;
  color: #eaeaea;
  margin: 0px 8px;
  border: 1px solid #eaeaea;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 8px;
  font-family: monospace, sans-serif;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s;
}

.button:hover {
  color: #0a1c2a;
  background-color: #aaaaaa;
}
