.historyMain {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.viewContainer {
  flex-grow: 1;
}

.codeView {
  display: flex;
  flex-direction: column;
  width: 57.33%;
  height: 90%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.largeButton {
  align-content: right;
  color: #ffffff !important;
  font-weight: 400;
  font-family: Bai Jamjuree;
  font-style: normal;
  background-color: inherit !important;
  font-size: 2em ;
  border-bottom: 2px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  transition: 0.5s;
  border-radius: 0;
}

.smallButton {
  align-content: right;
  color: rgba(234, 234, 234, 0.6);
  background-color: inherit !important;
  font-family: Bai Jamjuree;
  font-weight: 400;
  font-style: normal;
  border-bottom: 2px solid rgba(234, 234, 234, 0.6);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 2em ;
  transition: 0.5s;
  border-radius: 0px;
  box-shadow: none !important;
}

.smallButton:hover{
  color: #ffffff;
}

.largeButton:active,
.smallButton:active {
  box-shadow: none;
}

.codeBox {
  flex-grow: 1;
  font-family: Montserrat;
  font-style: normal;
  max-height: 80vh;
}

.codeBox > *::-webkit-scrollbar {
  display: none;
}

.codeBox > * {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
}

.mapBox {
  flex-grow: 1;
  font-family: Montserrat;
  font-style: normal;
  background: black;
}

.timeline {
  display: grid;
  grid-template-rows: 12% 70% 18%;
}

.select {
  text-align: right;
  color: #ffffff;
}

.selectButton {
  position: relative;
  color: #ffffff;
  width: 190px;
  height: 45px;
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Bai Jamjuree;
}

.selectButton:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  cursor: pointer;
}

.completeTimeline {
  padding: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 77vh;
}

.completeTimeline::-webkit-scrollbar {
  display: none;
}

.noCommitDataHeader {
  color: #ffffff;
}

.codeBox,
.mapBox {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
}

.mapBox::-webkit-scrollbar,
.codeBox::-webkit-scrollbar {
  display: none;
}

.selectBtn{
  background: #4595CF;
  border-radius: 0;
  margin: 5px;
  padding: 5px;
}
