.mainContainer {
  min-height: 100%;
  background: rgba(30, 30, 30, 0.87);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleContainer {
  text-align: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #aaaaaa;
  margin-top: 50px;
}
.subTitle {
  margin: auto;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: #aaaaaa;
}
.formContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1.4rem;
  margin-top: 70px;
}
.name,
.username,
.collegeName {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border: 3px solid #aaaaaa;
  margin: auto;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #aaaaaa;
}

.name::-webkit-input-placeholder,
.username::-webkit-input-placeholder,
.collegeName::-webkit-input-placeholder {
  font-family: FontAwesome, Roboto Mono;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.flagContainer {
  color: black;
  background-color: transparent;
  border: 3px solid #aaaaaa;
}

.loginButton {
  border: none;
  background-color: transparent;
  float: right;
  display: flex;
  color: #aaaaaa;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.buttonIcon {
  flex: 1;
  align-self: center;
  font-size: 1.4em;
  padding: 3px 10px 3px 10px;
  color: #aaaaaa;
}

@media only screen and (max-width: 500px) {
  .name::-webkit-input-placeholder,
  .username::-webkit-input-placeholder,
  .collegeName::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
  }
  .titleContainer {
    font-size: 30px;
  }
  .name,
  .username,
  .collegeName {
    font-size: 18px;
    line-height: 25px;
  }
  .formContainer {
    padding: 5px 20px 5px 20px;
    margin-top: 30px;
  }
  .subTitle {
    padding: 15px;
    font-size: 15px;
  }

  .loginButton {
    font-size: 18px;
    line-height: 30px;
  }
  .buttonIcon {
    font-size: 1.2em;
  }
}
